* {
  color: #4D4D4D;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin: 0;
  box-sizing: border-box;

}

.mobile_menu {
  display: none;
}

.tree_map_mobile {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 6rem;
  align-items: center;

  .mobile_icons {
    display: none;
  }

  .hamburger_mobile {
    display: none;
  }

  .search_mobile {
    display: none;
  }

}

.menu {
  & ul {
    display: flex;
    flex-direction: row;
  }

  & li {
    list-style: none;
  }

  & a {
    text-decoration: none;
    padding: 0 15px;
    letter-spacing: 0.7px;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 159.1%;

  }
}

.search {
  & ul {
    display: flex;
    flex-direction: row;
  }

  & li {
    list-style: none;
    padding: 0 7px;
  }

  img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}

#more {
  display: block;
}

#more2 {
  display: none;
}

#more3 {
  display: none;
}

.hero {
  display: grid;
  grid-template-columns: 60% 40%;

  .hero_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .right_container {
    background-color: #F6F6F5;
  }

  .tree_map {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    translate: (-2rem);

    p {
      color: #4D4D4D;
      font-size: 11px;
      font-style: normal;
      font-weight: 300;
      line-height: 159.1%;
      letter-spacing: 0.55px;
    }
  }

  .description {
    padding: 0 2rem;
    max-width: 30rem;
    margin: 0 auto;

    .title {
      color: #4D4D4D;
      font-family: Poppins;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      // line-height: 160%;
      text-align: left;
      margin-top: 4rem;
      margin-bottom: 0.5rem;

    }

    .subtitle {
      color: #4D4D4D;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      /* 22.4px */
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 2rem;
    }

    hr {
      margin-bottom: 2rem;
    }

    .dsc_text {
      color: #4D4D4D;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 159.1%;
      /* 22.274px */
      letter-spacing: 0.7px;
      text-align: justify;

    }

    .badges {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 2rem;
      margin: 2rem 0;

      .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.7rem;

        p {
          color: #948282;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
          /* 22.4px */
        }

        img {
          width: 44.438px;
          height: 44.438px;
        }
      }

      .box:nth-child(even) {
        justify-content: right;
      }
    }

    .options {
      display: flex;
      flex-direction: row;
      justify-content: left;

      fieldset {
        border: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .option_items {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-bottom: 2rem;

          label {
            // color: #4D4D4D;
            color: rgba(77, 77, 77, 0.50);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 159.1%;
            letter-spacing: 0.8px;
          }

          input[type=radio] {
            accent-color: #9F938B;
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .checkout {
      display: grid;
      grid-template-columns: 30% 70%;
      height: 47px;
      gap: 1rem;
      margin-bottom: 4rem;

      .quantity {
        display: flex;
        flex-direction: row;
        border: #4D4D4D solid 1px;

        #quantity_number:focus {
          outline: none;
        }

        #quantity_number {
          outline: none;
          translate: (25%);
        }

        button,
        input {
          border: none;
          background: none;
          width: 100%;
          height: 100%;
        }

      }

      .add_to_cart {
        background: #BFABAB;
        border: none;
        cursor: pointer;
      }

      .add_to_cart:hover {
        background: #9F938B;
      }
    }
  }
}

.ingredients {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 2rem;
  margin-left: 6rem;

  .firstLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h2 {
      color: #4D4D4D;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 160%;
      /* 32px */
      text-transform: capitalize;
    }

    button {
      border: none;
      background: none;
      font-size: 20px;
    }
  }

  p {
    color: #4D4D4D;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 159.1%;
    /* 22.274px */
    letter-spacing: 0.7px;
    text-align: left;
    margin-bottom: 1rem;
  }

  hr {
    margin-bottom: 1rem;
  }
}

.products {
  padding-top: 6rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;

  h1 {
    color: #4D4D4D;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding-bottom: 2rem;
    /* 44.8px */
  }

  .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: scroll;
    gap: 1rem;
    width: 100%;
    max-width: 90%;
    justify-content: space-between;
  }

  .item_info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

    h2 {
      color: #4D4D4D;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      /* 25.6px */
      text-transform: uppercase;
      padding-bottom: 0.5rem;
    }

    h3 {
      color: #4D4D4D;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 160%;
      /* 25.6px */
      text-transform: uppercase;
      padding-bottom: 2.5rem;
    }

    p {
      color: #4D4D4D;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 159.1%;
      /* 28.638px */
      letter-spacing: 0.9px;
    }
  }
}

@media only screen and (max-device-width: 1150px) {
  .hero {
    .tree_map {
      translate: (0);
    }

  }

}

@media only screen and (max-device-width: 960px) {
  .wrapper {
    width: 100%;
  }

  .mobile_menu {
    width: 100%;
    height: 100vh;
    margin-right: 0;
    position: fixed;
    background-color: white;
    z-index: 999;
    position: absolute;

    .close_btn {
      margin: 2rem 0 0 0;
      width: 1rem;
      position: relative;
      right: -40%;
      cursor: pointer;

    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 5rem 0;

    }

    li:hover {
      background-color: #eeeeee;
    }

    li {
      width: 100%;
      padding: 1rem 0;
      list-style: none;

      a {
        color: #4D4D4D;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 159.1%;
        /* 22.274px */
        letter-spacing: 0.7px;
        text-align: center;
        text-decoration: none;
      }
    }
  }

  .navbar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;

    .mobile_icons {
      display: flex;
      gap: 1rem;
      align-items: flex-start;
      flex-direction: row;

    }

    .hamburger_mobile {
      display: block;
    }


    .menu {
      display: none;
    }

    .search_desktop {
      display: none;
    }

    .search_mobile {
      display: block;
    }

    .logo {
      translate: (50%);
    }

  }

  .tree_map_mobile {
    display: flex;
    background-color: #F6F6F5;
    height: 2rem;
    gap: 1rem;
    padding-left: 2rem;
    align-items: center;

    p {
      font-size: 10px;
      color: #948282;
    }

    span {
      font-size: 10px;
      color: black;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .right_container {
      width: 100%;
    }

    .tree_map {
      display: none;
    }

    .description {
      padding: 0 2rem;
      max-width: 50rem;
      margin: 0 auto;

      .title {
        color: #4D4D4D;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        // line-height: 160%;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 0.5rem;

      }

      .subtitle {
        color: #4D4D4D;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        /* 22.4px */
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 2rem;
      }

      hr {
        margin-bottom: 2rem;
      }

      .dsc_text {
        color: #4D4D4D;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 159.1%;
        /* 22.274px */
        letter-spacing: 0.7px;
        text-align: justify;

      }

      .badges {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        margin: 2rem 0;

        .box {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.7rem;
        }
      }
    }
  }

  .products {
    padding-top: 0;


    .carousel {
      padding-top: 2rem;
      overflow: scroll;
      width: 100%;

      gap: 3rem;

      img {
        width: 20rem;
      }
    }
  }

  .ingredients {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 2rem;
    max-width: 50rem;

    .firstLine {
      justify-content: space-between;
    }
  }
}

@media only screen and (min-device-width: 961px) {
  .mobile_menu {
    display: none !important;
  }

  .mobile_icons {
    display: none !important;
  }
}